{
  "printWidth": 100,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "ignore": true
      }
    }
  ],
  "arrowParens": "avoid",
  "trailingComma": "none"
}
